@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

* {
  font-family: "Roboto";
}

.vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.center {
  display: flex;
  justify-content: center;
  gap: 10px;
}

h2 {
  margin: 0px;
}
.black {
  background-color: #121822;
  color: white;
}
.mint {
  background: #52e4c0;
}
.pink {
  background: #ee4cf7;
}
.input {
  display: flex;
  justify-content: space-between;
  width: 200px;
}
.input input {
  width: 120px;
}
